header{
  width: 100%;
}

header a{
  font-size: x-large;
  text-decoration: none;
  color: black;
}

header a:last-child{
  margin-left: 5%;
}

#map {
    height: 400px;
    width: 100%;
  }

#form_reservation{
  display: flex;
  flex-direction: column;
}

#form_reservation div{
  display: flex;
  flex-direction: row;
}